<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        function checkBpwd(){
            var emreg=/^\w{3,}(\.\w+)*@[A-z0-9]+(\.[A-z]{2,5}){1,2}$/;
            if($("#username").val() == ""){
                alert("用户名必须输入！");
                $("#username").focus();
                return false;
            }else if($("#mail").val() == "") {
                alert("邮箱必须输入！");
                $("#mail").focus();
                return false;
            }else if(emreg.test(mail.value)== false){
                alert("邮箱格式不合法！");
                $("#mail").focus();
                return false;
            }else{
                document.myform.submit();
            }
        }
    </script>
<body>
<div class="container">
    <div class="bg-primary"  style="width:100%; height: 70px;padding-top: 10px;">
        <h2 align="center">找回密码</h2>
    </div>
    <br>
    <br>
    <form th:action="@{/refind}" name="myform" method="post" th:object="${userDomain}"  class="form-horizontal" role="form" >
        <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"> </p>
        <div class="form-group has-success">
            <label class="col-sm-2 col-md-2 control-label">用户名</label>
            <div class="col-sm-4 col-md-4">
                <input type="text" class="form-control"
                       placeholder="请输入您的用户名"
                       th:field="*{username}"/>
            </div>
        </div>
        <div class="form-group has-success">
            <label class="col-sm-2 col-md-2 control-label">邮箱</label>
            <div class="col-sm-4 col-md-4">
                <input type="text" class="form-control"
                       placeholder="请输入您的邮箱"
                       th:field="*{mail}"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" onclick="checkBpwd()" class="btn btn-success" >提交</button>
                <button type="reset" class="btn btn-primary" >重置</button>
                <a th:href="@{/toLogin}">
                    <button type="button" id="forgetBtn" class="btn btn-primary" >去登录</button>
                </a>

            </div>
        </div>
    </form>
</div>
</body>
</html>